.App {
  display: flex;
  /* background-color: black; */
  justify-content: space-between;
  border: 2px solid black;
}
.Content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #d6d3d1;
  width: 92%;
}
.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 18%;
  height: 100vw;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  width: 800px;
  height: 35px;
  margin: 5px;
}
.Subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  width: 800px;
  height: 35px;
  margin: 5px;
}

.Image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  width: 300px;
  height: 200px;
  margin: 40px;
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 50px;
  padding: none;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: #d6d3d1;
  width: 200px;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  height: 300px;
  width: 1000px;
  margin: 20px;
}
.Wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.rapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.Image2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  width: 400px;
  height: 300px;
  margin: 20px;
  padding: 20px;
}

.Main2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  width: 400px;
  height: 300px;
  margin: 20px;
  padding: 20px;
}
